extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Games

      table
        thead
          tr: th Games
        tbody
          each post, i in userPosts
          tr
            td 
              a(href=`/game/${game.id})` #{post.author} - #{post.title}


